**/node_modules
**/env/**
**/dist
**/*.env
**/bin

**/tsconfig.*.tsbuildinfo
**/.serverless
.serverless
**/.turbo
**/venv
**/vendor
**/.vscode
**/coverage
**/__pycache__
**/.pytest_cache
.DS_Store

# terraform
.terraform
*.tfvars
*.tfstate.*
terraform.tfstate
