**/*.env
**/dist
**/env/**

# macos
.DS_Store

# typescript
**/.turbo
**/node_modules
**/*.tsbuildinfo

# golang
**/bin

# python
.python-version
**/__pycache__
**/.pytest_cache
**/venv
**/vendor

# serverless
**/.serverless
.serverless

# test
**/coverage

# terraform
**/.terraform
**/*.tfvars
**/*.tfstate.*
**/terraform.tfstate
**/terraform.tfstate.backup
**/errored.tfstate
**/terraform/json/*
**/.terraform.lock.hcl

# vscode
**/.vscode

# java
**/target
**/dependency-reduced-pom.xml
